/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 설정 */
body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #fdfdfd;
  color: #111;
  line-height: 1.6;
}

/* 색상 변수 */
:root {
  --main-color: #92cddc;
}

/* Hero Section */
.hero-section {
  background-color: var(--main-color);
}

/* 서비스 카드 */
.card img {
  display: block;
  margin: 0 auto;
}

.border-dashed {
  border: 2px dashed #bbb;
}
